.main-page {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;

  &-left {
    width: 66%;
    min-height: 100px;
  }

  &-right {
    width: 30%;
    min-height: 100px;
    background-color: lightblue;
  }
}
